main {
    padding: 10px;
    display: grid;
    grid-template-rows: auto 1fr;
    position: relative;
    min-width: 350px;
    box-sizing: border-box;
}

/* Navigation Bar */
.navigation-bar {
    position: sticky;
    padding-top: 10px;
    top: 0px;
    min-width: 320px;
    z-index: 10;
    background-color: black;
}

header {
    padding: 0px 20px 15px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.appname {
    font-size: 1.5rem;
}

nav {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.add-idea-icon {
    background-color: #2C2929;
    border-radius: 50%;
    display: flex;
    padding: 8px;
}

.add-idea-icon button {
    background-color: inherit;
    border: none;
}

/* Content */
.content {
    min-width: 320px;
    box-sizing: border-box;
    justify-content: center;
    margin: auto;
    overflow-y: auto;
}

.post {
    min-width: 320px;
    display: grid;
    box-sizing: border-box;
    justify-items: center;
    gap: 20px;
}

.post-section {
    box-sizing: border-box;
    padding: 10px 10px 18px;
    background-color: #121111;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 1rem;
    border-radius: 5px;
    max-width: 700px;
    min-width: 320px;
    width: 97%;
}

.profile-section {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: start;
}

.profile {
    display: flex;
    gap: 10px;
}

.profile .picture {
    border-radius: 2px;
    display: flex;
    width: 50px;
    /* will be removed  */
    padding: 10px; 
    box-sizing: border-box;
    /*  */
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #2C2929;
}

.person-info {
    display: grid;
    grid-template-rows: auto auto;
    gap: 2px;
}

.person-title {
    background-color: #2C2929;
    padding: 1px 10px;
    border-radius: 5px;
    width: max-content;
}

.post-options {
    display: flex;
    gap: .2rem;
}
.post-options div button {
    background-color: inherit;
    border: none;
}

.post-options div button, .post-options div a img {
    padding: 3px 4px;
}
.post-options div a .delete-post-icon {
    background-color: #770202 ;
    border-radius: 5px;
}

.idea-section {
    border-radius: 5px;
    padding: .6rem .6rem .7rem;
    background-color: #2C2929;
}

.idea-section p span{
    color: #20C997;
}

.description-text {
    padding: 5px 13px 10px;
}

.ideas-list{
    padding: 5px 10px;
}

.ideas-list ul{
    padding: 0 10px;
    color:rgb(216, 214, 214);
    list-style-position: inside;
}

/* Engagement Section */
.engagement-section {
    display: flex;
    margin-left: 10px;
    gap: 1rem;
}

.engagement-section button {
    border: none;
    background-color: inherit;
}

.interaction-section {
    margin: 0 15px;
    display: none;
}

.suggestions-section{
    padding: 0 1rem;
    text-align: right;
}

.suggestions-section .suggestion{
    padding: 10px 0;
    display: flex;
    /* font-size: .9rem; */
    justify-content: end;
    gap: 10px;
}

.suggestions-section .suggestion:not(:last-child) {
    border-bottom: 1px #1a1818 solid;;
}

.interaction-section input {
    background-color: #121111;
    border-radius: 5px;
    width: 50%;
    border: 2px solid #2C2929;
    color: white;
    font-size: .9rem;
    letter-spacing: 1px;
    padding: 10px 15px;
}

.interaction-section input:focus {
    border: 2px solid #20C997;
    outline: none;
}

.suggestion img {
    padding: 1px;
    background-color: #2C2929;
    border-radius: 5px;
}

/* Modal */
/* Create */
.modal {
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);
}

.modal-section {
    max-width: 700px;
    border: 1px solid gray;
    min-height: fit-content;
    background-color: black;
    padding: 1rem 1rem 1.2rem;
    width: 80%;
    box-sizing: border-box;
    border-radius: 10px;
}

.modal-section header {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    align-items: start;
}

.close-btn {
    background-color: #2C2929;
    border: none;
    color: white;
    padding: 10px 14px;
    border-radius: 50%;

    /* font-size: 1.1rem; */
}
   
.modal-section div form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.modal-section div form .post-description {
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #2C2929;
    height: 40px;
    width: 50%;
    padding: 10px;
    font-size: 1.1rem;
    color: white;
    outline: 3px solid #575454;
    border: none;
}

.modal-section div form .post-description:focus {
    outline: 3px solid #20C997;
}

.modal-section div form textarea {
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #2C2929;
    width: 100%;
    height: 100px;
    padding: 10px;
    resize: none;
    font-size: 1.1rem;
    color: white;
    outline: 3px solid #575454;
    border: none;
}

.modal-section div form textarea:focus {
    outline: 3px solid #20C997;
}

.modal-section div form #submit-btn {
    width: fit-content;
    padding: 10px 20px;
    border-radius: 5px;
    align-self: end;
    border: none;
    background-color: #20C997;
    font-weight: 600;
    letter-spacing: 1px;
    color: #0F3F39;
}

.comment-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 20;
}

.comment-modal-background {
    inset: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -5;
}

.comment-modal > .comment-modal-section {
    border-radius: 10px;
    padding: 10px 10px 18px;
    background-color: #1a1818;
    width: 50%;
    min-width: 320px;
    height: 90%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 1rem;
}

.user-comments-section {
    width: 100%;
    border-radius: 8px;
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
}

.user-comments-section > div {
    padding: 1.1rem;
    background-color: rgba(255, 255, 255, .1);
    color: white;
    border-radius: 5px;
}

.user-comments-section > div:not(:first-child):not(:last-child){
    margin: 10px 0;
}

.user-comments-section > div,
.user-comments-section > div > div {
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    display: flex;
} 

.user-comments-section > div > div > button {
    border: none;
    width: 1.2rem;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment_input {
    display: flex;
    gap: 10px;
}

.comment-modal-section > .comment_input > input {
    /* margin-left: 10px; */
    border-radius: 2px;
    padding: 15px;
    width: 100%;
    background-color: #2C2929;
    border: 1px gray solid;
    outline: none;
    color: white;
    box-sizing: border-box;
}

.comment_input > button {
    border-radius: 2px;
    border: none;
    width: 5rem;
}


/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #171515;
    border-radius: 10px;
}