main {
    min-width: 350px;
    width: 100%;
    display: grid;
    height: 100vh; 
}

.login-section {
    width: 90%;
    max-width: 500px;
    display: grid;
    margin: auto;
    grid-template-rows: 2;
    gap: 20px;
    grid-auto-flow: row;
}

header {
    font-size: 2.5rem;
    display: grid;
    justify-content: center;
}

header p .appname {
    font-weight: bold;
}

section {
    text-align: center;
    display: grid;
    gap: 1rem;
}

.oauth-section {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.oauth-button {
    background-color: #D9D9D9;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.input-fields {
    display: grid;
    gap: 1.5rem;
}

.input-fields input, .login-btn {
    width: 100%;
    box-sizing: border-box;
    padding: 13px 20px;
    font-size: 18px;
    border-radius: 5px;
}

.input-fields input{
    color: #9B9B9B;
    border: none;
    background-color: #121111;
}

.input-fields .input-no-error:focus{
    /* outline: 3px solid #00BFA6; */
    outline: 3px solid #6C6C6C;
    color: #9B9B9B;
    border: none;
}

.input-error:focus{
    /* outline: 3px solid #00BFA6; */
    outline: 3px solid red;
    color: #9B9B9B;
    border: none;
}

.login-btn {
    width: 100%;
    margin-top: 36px;
    border: none;
    color: #161515;
    font-weight: 500;
    letter-spacing: 1.5px;
    background-color: #F6F2F2;
}

